<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>Lou's Reviews</title>
</head>
<body>

<%= yield %>

</body>
</html>