<h1>Lou's Reviews</h1>

<div class="subtitle">
  <a href='/reviews'><h2>See All Reviews</h2></a>
</div>

<div class="logo">

</div>

<div class="about">
  <p>Prepared by Joseph Wagner</p>
  <a href="https://bitbucket.org/bangner/reviews/overview">BitBucket Repo</a>
</div>