* { box-sizing: border-box; }

.main {
  margin: auto;
  display: block;
}

.show-reviews {
  width: 50%;
  height: 75%;
  margin: auto;
  display: block;
}

.subtitle {
  text-align: center;
}

.about {
  margin-top: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

table {
  color: #333;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

th {
  background: #F3F3F3;
  font-weight: bold;
}

td {
  background: #FAFAFA;
}

tr:nth-child(even) td { background: #F1F1F1; }

tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; }

h1 {
  font-size: 35px;
  font-color: red;
  text-align: center;
}


