<h1>All Reviews</h1>

<div class="main">
  <table>
    <thead>
      <tr>
        <th>Rating</th>
        <th>Comments</th>
        <th>Source Type</th>
        <th>Review Date</th>
        <th>View</th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.rating %></td>
          <td><%= review.comment %></td>
          <td><%= review.source_type %></td>
          <td><%= review.review_date %></td>
          <td><a href="/reviews/<%= review.id %>">View</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<p> TOTAL REVIEWS: <%= @reviews.count %></p>

<a href='/poll'>Poll For New Reviews</a>
