<div class="show-reviews">
  <p>
    <strong>Review ID:</strong>
    <%= @review.review_id %>
  </p>

  <p>
    <strong>Customer First Name:</strong>
    <%= @review.customer_first_name %>
  </p>

  <p>
    <strong>Customer Last Name:</strong>
    <%= @review.customer_last_name %>
  </p>

  <p>
    <strong>Customer Nick Name:</strong>
    <%= @review.customer_nick_name %>
  </p>

  <p>
    <strong>Customer Avatar:</strong>
    <%= @review.customer_avatar %>
  </p>

  <p>
    <strong>Customer Email ID:</strong>
    <%= @review.customer_email_id %>
  </p>

  <p>
    <strong>Customer Facebook ID:</strong>
    <%= @review.customer_facebook_id %>
  </p>

  <p>
    <strong>Customer City:</strong>
    <%= @review.customer_city %>
  </p>

  <p>
    <strong>Customer State:</strong>
    <%= @review.customer_state %>
  </p>

  <p>
    <strong>Customer ID:</strong>
    <%= @review.customer_id %>
  </p>

  <p>
    <strong>Review Date:</strong>
    <%= @review.review_date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @review.rating %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @review.title %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @review.comment %>
  </p>

  <p>
    <strong>Source Type:</strong>
    <%= @review.source_type %>
  </p>

  <p>
    <strong>Review URL:</strong>
    <a href="<%= @review.review_url %>">Review on <%= @review.source_type %></a>
  </p>

  <p>
    <strong>Response:</strong>
    <%= @review.response %>
  </p>

  <p>
    <strong>Response Date:</strong>
    <%= @review.response_date %>
  </p>

  <p>
    <strong>Unique Review URL:</strong>
    <a href="<%= @review.unique_review_url %>">Review on BirdEye</a>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @review.tags %>
  </p>

  <p>
    <strong>Business Name:</strong>
    <%= @review.business_name %>
  </p>

  <p>
    <strong>Business Type:</strong>
    <%= @review.business_type %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= @review.featured %>
  </p>
</div>

<a href='/reviews'>Back</a>